.editorconfig
.gitattributes
.github
.gitignore
.gitlab-ci.yml
.idea
.pre-commit-config.yaml
.readthedocs.yml
.travis.yml
venv
.git
/docs/
/scripts/
/static/
/frontend/
/templates/
/web/
/build/
/media/
/music/
/data/
db.sqlite3
local_settings.py
README.md
readme_en.md
images.txt
.env
*.bak
